<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WackDonald's Login</title>
  <link rel="icon" href="images/favicon.ico">
  <script src="https://kit.fontawesome.com/6cff64fb2c.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="header">
  <div class="inner_header">
    <div class="logocontainer">
      <h1><fa-icon [icon]="earthIcon"></fa-icon> Translator Tool</h1>
      <h2>AI powered automatic translator</h2>
    </div>
    <ul class="navigation">
      <a onclick="openUsers()"><li>About</li></a>
      <a onclick="openAdmin()"><li>idk</li></a>
    </ul>
  </div>
</div>
<div class="center">
  <form method="post" onsubmit="return login()">
    <h2>Select language</h2>
    <h2 id="subtext">Select the language you would like to have your snippets translated into</h2>
    <div class="dropdown">
      <div class="select">
        <span class="selected">English</span>
        <div class="caret"></div>
      </div>

      <ul class="menu">
        <li class="active" (click)="selectLanguage('English')">English</li>
        <li (click)="selectLanguage('Danish')">Danish</li>
        <li (click)="selectLanguage('German')">German</li>
        <li (click)="selectLanguage('Spanish')">Spanish</li>
        <li (click)="selectLanguage('French')">French</li>
        <li (click)="selectLanguage('Dutch')">Dutch</li>
        <li (click)="selectLanguage('Italian')">Italian</li>
        <li (click)="selectLanguage('Polish')">Polish</li>
      </ul>

    </div>

  </form>
  <div class="search-box">
    <div class="row">
      <input type="text" id="input-box" placeholder="Search Languages" autocomplete="off">
      <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="result-box">

    </div>
  </div>
  <input type="submit" value="Submit" (click)="openDialog()">
</div>
<div class="center2">
  <img src="assets/human.png" alt="">
</div>
</body>
</html>

