<!doctype html>

<head>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WackDonald's Login</title>
  <link rel="icon" href="images/favicon.ico">
  <script src="https://kit.fontawesome.com/6cff64fb2c.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="header">
  <div class="inner_header">
    <div class="logocontainer">
      <h1><fa-icon [icon]="earthIcon"></fa-icon> Translator Tool</h1>
      <h2>AI powered automatic translator</h2>
    </div>
    <ul class="navigation">
      <a onclick="openUsers()"><li>About</li></a>
      <a onclick="openAdmin()"><li>idk</li></a>
    </ul>
  </div>
</div>
<div class="center">
  <form method="post" onsubmit="return login()">
    <h2>Select language</h2>
    <h2 id="subtext">Select the language you would like to have your snippets translated into</h2>
    <div class="dropdown">
      <div class="select">
        <span class="selected">English</span>
        <div class="caret"></div>
      </div>
      <ul class="menu">
        <li class="active">English</li>
        <li>Danish</li>
        <li>German</li>
        <li>Spanish</li>
        <li>French</li>
        <li>Dutch</li>
        <li>Italian</li>
        <li>Polish</li>
      </ul>
    </div>

  </form>
  <div class="search-box">
    <div class="row">
      <input type="text" id="input-box" placeholder="Search Languages" autocomplete="off">
      <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="result-box">

    </div>
  </div>
  <input type="submit" value="Submit" onclick="login()">
</div>
<div class="center2">
  <img src="assets/human.png" alt="">
</div>




<!--<script>
  // When the user clicks on div, open the popup
  const dropdowns = document.querySelectorAll('.dropdown');

  dropdowns.forEach(dropdown => {

    const select = dropdown.querySelector('.select');
    const caret = dropdown.querySelector('.caret');
    const menu = dropdown.querySelector('.menu');
    const options = dropdown.querySelectorAll('.menu li');
    const selected = dropdown.querySelector('.selected');


    select.addEventListener('click', () => {
      select.classList.toggle('select-clicked');
      caret.classList.toggle('caret-rotate');
      menu.classList.toggle('menu-open');
    });

    options.forEach(option => {
      option.addEventListener('click', () => {
        selected.innerText = option.innerText;
        select.classList.remove('select-clicked');
        caret.classList.remove('caret-rotate');
        menu.classList.remove('menu-open');
        options.forEach(option => {
          option.classList.remove('active');
        });
        option.classList.add('active');
      });
    });
  });

  let availableKeywords = [
    'English', 'Danish', 'German', 'French', 'Spanish', 'Italian', 'Polish', 'Swedish'
  ];

  const resultBox = document.querySelector(".result-box");
  const inputBox = document.getElementById("input-box");

  inputBox.onkeyup = function(){
    let result = [];
    let input = inputBox.value;
    if (input.length){
      result = availableKeywords.filter((keyword) =>{
        return keyword.toLowerCase().includes(input.toLowerCase());
      });
      console.log(result)
    }
    display(result);

    if (!result.length){
      resultBox.innerHTML = '';
    }
  }

  function display(result){
    const content = result.map((list)=>{
      return "<li onclick=selectInput(this)>" + list + "</li>";
    });

    resultBox.innerHTML = "<ul>" + content.join('') + "</ul>";
  }

  function selectInput(list){
    inputBox.value = list.innerHTML;
    resultBox.innerHTML = '';
  }
</script>-->
</body>

