<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WackDonald's Login</title>
  <link rel="stylesheet" href="snipperStyle.css">
  <link rel="icon" href="images/favicon.ico">
  <script src="https://kit.fontawesome.com/6cff64fb2c.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="center">
  <div class="top">
    <h1>Translate</h1>
    <h2 id="subtext">grab a snippet of the text you'd like translated using the button below. simply make sure all the text is visable and nothing else</h2>
  </div>
  <div class="bottom">
    <h2 id="takesnipText">Take Snippet</h2>
    <button><i class="fa-solid fa-camera"></i></button>
  </div>
  <p class="or">or</p>
  <div class="truebottom">
    <p class="orText">Upload file <i class="fa-solid fa-file-export"></i></p>
  </div>
</div>
<script>
  // When the user clicks on div, open the popup

</script>
</body>
</html>
