<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WackDonald's Login</title>
  <link rel="icon" href="images/favicon.ico">
  <script src="https://kit.fontawesome.com/6cff64fb2c.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="center">
  <div class="top">
    <h1>Translate</h1>
    <h2 id="subtext">grab a snippet of the text you'd like translated using the button below. simply make sure all the text is visable and nothing else</h2>
  </div>
  <div class="middle">

  </div>
  <div class="bottom">
    <div class="imageholder">
      <img id="image" src="images/Capture.PNG" alt="">
    </div>
    <div class="toolset">
      <button id="cropbtn"><fa-icon [icon]="checkIcon"></fa-icon></button>
      <button id="sendbtn"><fa-icon [icon]="cropIcon"></fa-icon></button>
    </div>
  </div>

  <div class="truebottom">

    <button (click)="capture()"><fa-icon [icon]="cameraIcon"></fa-icon></button>
    <p class="orbottom">Or....</p>
    <p class="orText">Upload file <fa-icon [icon]="exportIcon"></fa-icon></p>
  </div>
</div>
<script>
  // When the user clicks on div, open the popup

</script>
</body>
