body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient( 174.2deg,  rgba(245,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );;
  min-height: 100vh;
  overflow: hidden;

}
textarea{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  font-size: 21px;
}
